.playlist-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.playlists {
    width: 30rem;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .playlist-container {
        display: flex;
        min-height: 100vh
    }

    .playlists {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}